// ---------------------------------------------
// Colors:
// ---------------------------------------------
$primary: #3464D5;
$success: #00A733;
$warning: #FD9644;
$danger: #DA3659;

$theme-colors: (
  "primary": $primary,
  //"secondary":  $secondary,
  "success": $success,
  //"info":       $info,
  "warning": $warning,
  "danger": $danger,
);

$custom-colors: (
    "grey-1": #EDEFF4,
    "grey-2": #D2D8E1,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// ---------------------------------------------
// Typography:
// ---------------------------------------------
$font-family-base:
  "Open Sans",
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


// ---------------------------------------------
// Other:
// ---------------------------------------------
$enable-rounded: false !default;


// ---------------------------------------------
// Spacing:
// ---------------------------------------------
$spacer: 1.875rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  2a: $spacer / 1.5, // 20px
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$enable-negative-margins: true;
