// ---------------------------------------------
// Colors:
// ---------------------------------------------
$primary: #3464D5;
$success: #00A733;
$warning: #FD9644;
$danger: #DA3659;

$theme-colors: (
  "primary": $primary,
  //"secondary":  $secondary,
  "success": $success,
  //"info":       $info,
  "warning": $warning,
  "danger": $danger,
);

$custom-colors: (
    "grey-1": #EDEFF4,
    "grey-2": #D2D8E1,
    "grey-5": #6E7D93,
    "grey-7": #4F5A6B,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// ---------------------------------------------
// Typography:
// ---------------------------------------------
$font-family-base:
  "Open Sans",
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

.fs-small {
    font-size: 0.875rem;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

// ---------------------------------------------
// Spacing:
// ---------------------------------------------
$spacer: 1.875rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  2a: $spacer / 1.5, // 20px
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$enable-negative-margins: true;

// ---------------------------------------------
// Form Inputs:
// ---------------------------------------------
$form-check-input-width: 1.5em !default;
$form-check-input-border: 2px solid  map-get($theme-colors, "grey-7") !default;


.btn-icon-primary {
    background-color: transparent;
    padding: 3px;
    padding-top: 2px;
    border-radius: 20%;
    text-align: center;
    border: none;
    color: map-get($theme-colors, "primary");
    cursor: pointer; /* Mouse pointer on hover */
}

.btn-icon-primary:hover {
  background-color: rgba(map-get($theme-colors, "primary"), .2);
}


// ---------------------------------------------
// Other:
// ---------------------------------------------
$enable-rounded: false !default;

.cursor-pointer {
    cursor: pointer;
}

.border-top-2 {
  border-top-style: solid;
  border-top-width: 2px !important;
}

.border-bottom-2 {
  border-bottom-style: solid;
  border-bottom-width: 2px !important;
}

