
// ---------------------------------------------
// Colors:
// ---------------------------------------------
$primary: #3464D5;
$success: #00A733;
$warning: #FD9644;
$danger: #DA3659;

$theme-colors: (
  "primary": $primary,
  //"secondary":  $secondary,
  "success": $success,
  //"info":       $info,
  "warning": $warning,
  "danger": $danger,
);

$custom-colors: (
    "grey-1": #EDEFF4,
    "grey-2": #D2D8E1,
    "grey-5": #6E7D93,
    "grey-7": #4F5A6B,
    "lightest": #fff,
    "danger-light": #FCCFD9,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// ---------------------------------------------
// Typography:
// ---------------------------------------------
$font-family-base: "Open Sans" !default;

$headings-margin-bottom: 0.625rem !default;
$paragraph-margin-bottom: 0.625rem !default;

// if heading comes after other text:
p, ul {
  + h1, + h2, + h3, + h4, + h5, + h6 {
    margin-top: 1.875rem;
  }
}

.fs-btn {
  font-size: 1.125rem !important;
}

.fs-small {
  font-size: 0.875rem !important;
}

// ---------------------------------------------
// Spacing:
// ---------------------------------------------
$spacer: 1.875rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  2a: $spacer / 1.5, // 20px
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$enable-negative-margins: true;

// ---------------------------------------------
// Form Inputs:
// ---------------------------------------------

// Checkbox
$form-check-input-width: 1.5em !default;
$form-check-input-border: 2px solid  map-get($theme-colors, "grey-7") !default;
$form-check-input-border-radius: 0 !default;

// Icon button
.btn-icon-primary {
    background-color: transparent;
    padding: 3px;
    border-radius: 0%;
    text-align: center;
    border: none;
    color: map-get($theme-colors, "primary");
    cursor: pointer; /* Mouse pointer on hover */
    outline: none;
    &:hover {
      background-color: rgba(map-get($theme-colors, "primary"), .2);
    };
    &:focus {
      background-color: rgba(map-get($theme-colors, "primary"), .2);
      outline: none;
    };
    &:active {
      background-color: rgba(map-get($theme-colors, "primary"), .2);
      outline: none;
    };
}

.eq5d-scale:focus-within {
  border: 2px solid rgba(map-get($theme-colors, "primary"), .2);
}

// Dropdown
select {
  /* styling */
  background-color: white;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  border: none;
  border-radius: 0;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */
$select-icon-color: white;
$select-icon-background-color: map-get($theme-colors, "primary");
$select-focus-border-color: map-get($theme-colors, "primary");

select.custom-select {
  background-image:
    linear-gradient(45deg, transparent 50%, $select-icon-color 50%),
    linear-gradient(135deg, $select-icon-color 50%, transparent 50%),
    linear-gradient(to right, $select-icon-background-color, $select-icon-background-color);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.custom-select:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, $select-icon-background-color, $select-icon-background-color);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border: 2px solid $select-focus-border-color;
  outline: 0;
  padding:
    calc(0.5em - 2px)
    calc(3.5em - 2px)
    calc(0.5em - 2px)
    calc(1em - 2px);
}

// ---------------------------------------------
// Other:
// ---------------------------------------------
$enable-rounded: false !default;

.cursor-pointer {
    cursor: pointer;
}

.border-top-2 {
  border-top-style: solid;
  border-top-width: 2px !important;
}

.border-bottom-2 {
  border-bottom-style: solid;
  border-bottom-width: 2px !important;
}

