
// ---------------------------------------------
// Colors:
// ---------------------------------------------
$primary: #3464D5;
$secondary: #EDEFF4;
$success: #00A733;
$warning: #FD9644;
$danger: #DA3659;
$info: #BCE0FA;

$theme-colors: (
  "primary": $primary,
  "secondary":  $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);

$custom-colors: (
  "grey-1": #EDEFF4,
  "grey-2": #D2D8E1,
  "grey-5": #6E7D93,
  "grey-6": #606E82,
  "grey-7": #4F5A6B,
  "lightest": #fff,
  "danger-light": #FCCFD9,
  "warning-light": #FFEDBD,
  "success-light": #B6F1CA,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// ---------------------------------------------
// Typography:
// ---------------------------------------------
$font-family-base: "Open Sans" !default;

$headings-margin-bottom: 0.625rem !default;
$paragraph-margin-bottom: 0.625rem !default;

// if heading comes after other text:
p, ul {
  + h1, + h2, + h3, + h4, + h5, + h6 {
    margin-top: 1.875rem;
  }
}

.fs-btn {
  font-size: 1.125rem !important;
}

.fs-small {
  font-size: 0.875rem !important;
}

// ---------------------------------------------
// Spacing:
// ---------------------------------------------
$spacer: 1.875rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  1a: $spacer / 3,
  2: $spacer / 2,
  2a: $spacer / 1.5, // 20px
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$enable-negative-margins: true;

// ---------------------------------------------
// Form Inputs:
// ---------------------------------------------
$input-btn-padding-y: .5625rem !default;
$input-padding-x:  0.75rem !default;

$input-disabled-bg:                     map-get($theme-colors, "grey-2") !default;
$input-disabled-border-color:           map-get($theme-colors, "grey-2") !default;

$form-label-font-size: 1.125rem !default;
$form-label-font-weight:  bold !default;

$input-border-width: 0 !default;

// Checkbox
$form-check-input-width: 1.5em !default;
$form-check-input-border: 2px solid  map-get($theme-colors, "grey-7") !default;
$form-check-input-border-radius: 0 !default;

$input-border-width: 0 !default;

// Icon button
.btn-icon-primary {
    background-color: transparent;
    padding: 3px;
    border-radius: 0%;
    text-align: center;
    border: none;
    color: map-get($theme-colors, "primary");
    cursor: pointer; /* Mouse pointer on hover */
    outline: none;
    &:hover {
      background-color: rgba(map-get($theme-colors, "primary"), .2);
    };
    &:focus {
      background-color: rgba(map-get($theme-colors, "primary"), .2);
      outline: none;
    };
    &:active {
      background-color: rgba(map-get($theme-colors, "primary"), .2);
      outline: none;
    };
}

.eq5d-scale:focus-within {
  border: 2px solid rgba(map-get($theme-colors, "primary"), .2);
}


// ---------------------------------------------
// Other:
// ---------------------------------------------
$enable-rounded: false !default;

.cursor-pointer {
    cursor: pointer;
}

.border-2 {
  border-width: 2px !important;
}

.border-top-2 {
  border-top-style: solid;
  border-top-width: 2px !important;
}

.border-bottom-2 {
  border-bottom-style: solid;
  border-bottom-width: 2px !important;
}

.min-vh-25 {
  min-height: 25vh;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-60 {
  min-height: 60vh;
}

.min-vh-75 {
  min-height: 75vh;
}

.min-vw-25 {
  min-height: 25vw;
}

.min-vw-50 {
  min-height: 50vw;
}

.min-vw-60 {
  min-height: 50vw;
}

.min-vw-75 {
  min-height: 75vw;
}
